# Xcode
build/
DerivedData/
.DS_Store
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/+
UserInterfaceState.xcuserstate
Pro(these).xcworkspace
Pro(these).xcodeproj

# CocoaPods
Pods/
Podfile.lock

# Exclude Xcode project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

# Exclude Xcode scheme files
*.xcscheme